version: '3.8'
services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "1414"
      POSTGRES_DB: emploi_plus_db_cg
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d emploi_plus_db_cg"]
      interval: 5s
      timeout: 5s
      retries: 12

volumes:
  db_data:
